<div class="feedback-div" xmlns:th="http://www.thymeleaf.org">
    <form method="POST" th:action="@{/feedback/{username} (username=${session.user.getUsername()})}">
        <div class="form-group">
            <input name="feedback" type="text" class="form-control" id="satisfactionInput" placeholder="Enter your Feedback!">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="satisfied" id="satisfiedRadio" value="satisfied">
            <label class="form-check-label" for="satisfiedRadio">
                Satisfied
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="satisfied" id="notSatisfiedRadio" value="notSatisfied">
            <label class="form-check-label" for="notSatisfiedRadio">
                Not Satisfied
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
</div>