<div class="container-home">
  <span style="display: block; font-size: 45px;">Macedonia - One Scratch at a Time</span>
  <span style="display: block; font-size: 20px; padding-top: 20px; font-style: italic">Scratch your itch for travelling!</span>
  <a class="btn btn-primary btn-lg btn-home" href="/scratch" role="button">Scratch &raquo;</a>

  <br><br><br>
  <a class="btn btn-dark " href="/list/wishlist" role="button">WishList</a>
  <a class="btn btn-dark " href="/list/favourites" role="button">Favourites</a>
  <a class="btn btn-dark " href="/list/visited" role="button">Visited</a>
  <br><br>
  <a class="btn btn-outline-success" href="/feedback" role="button">Give Feedback!</a>
</div>

