<div class="container-login">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPasswordLogin" class="sr-only">Password</label>
    <input type="password" id="inputPasswordLogin" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block btn-login-signup" type="submit">Login</button>

    <a href="/signup" id="signup-link" class="linkLoginSignup">Don't have an account? Sign up!</a>
  </form>
</div>
