<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macedonia Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Include Leaflet Control Geocoder CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        #map {
            height: 100vh; /* 100% of viewport height */
            margin: 0;
        }
        #home-button {
            position: absolute;
            top: 90px;
            left: 10px;
            z-index: 1000;
        }
        #map-nav{
            position: absolute;
            right: 20px;
            top: 1px;
            z-index: 1000;
            text-align: right;
        }
        #map-nav-2{
            position: absolute;
            right: 20px;
            top: 120px;
            z-index: 1000;
            text-align: right;
        }
    </style>
</head>
<body>
<div id="map-nav">
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="searchText"></label>
                <input type="text" class="form-control mb-2" id="searchText" placeholder="Search Monument..." name="search">
                <button type="button" onclick="searchMonument()" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>
</div>
<div id="map-nav-2">
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="searchByCity"></label>
                <input id="searchByCity" type="text" class="form-control mb-2" placeholder="Search by City..." name="searchByCity">
                <button type="button" class="btn btn-primary mb-2" onclick="zoomOnCity()">Search</button>
            </div>
        </div>
    </form>
</div>
<div id="home-button">
    <a href="/home">
        <button class="btn btn-dark">Home</button>
    </a>
</div>

<!-- MAP -->
<div id="map"></div>

<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Leaflet Control Geocoder JavaScript -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script>
    // Add Map
    var mymap = L.map('map').setView([41.6086, 21.7453], 8.5); // Centered over Macedonia

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    // Add Markers
    let mapMarkers = {};
    fetch("http://localhost:8080/api/GetMarkers")
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            mapMarkers = data;

            for (let key in data) {
                const monument = data[key]
                let marker = L.marker([monument.lat, monument.lon], {}).addTo(mymap);
                marker.bindPopup(`<strong>${monument.name}</strong><br>Phone: ${monument.phone}`);
            }
        })
        .catch(error => {
            console.error("Couldn't get the map markers:", error);
        });

//     Search Monument
    function searchMonument() {
        const searchText = document.getElementById('searchText').value.toLowerCase();

        const matchingMonument = Object.values(mapMarkers).find(monument =>
            monument.name.toLowerCase().includes(searchText)
        );

        if (matchingMonument) {
            mymap.setView([matchingMonument.lat, matchingMonument.lon], 13);
        } else {
            alert("Monument not found");
        }
    }

// Search by City Name
    let cityMarkers = {};

    // Fetch city data from the API
    fetch("http://localhost:8080/api/GetCities")
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            cityMarkers = data;

            for (let key in data) {
                const city = data[key];
                // let marker = L.marker([city.lat, city.lon], {}).addTo(mymap);
                // marker.bindPopup(`<strong>${city.name}</strong><br>Population: ${city.population}`);
            }
        })
        .catch(error => {
            console.error("Couldn't get the cities:", error);
        });

    // Search City
    function zoomOnCity() {
        const searchText = document.getElementById('searchByCity').value.toLowerCase();

        const matchingCity = Object.values(cityMarkers).find(city =>
            city.name.toLowerCase().includes(searchText)
        );

        if (matchingCity) {
            mymap.setView([matchingCity.lat, matchingCity.lon], 13);
        } else {
            alert("City not found");
        }
    }

</script>
</body>
</html>
