<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenStreetMap with Leaflet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Include Leaflet Control Geocoder CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        #map {
            height: 100vh; /* 100% of viewport height */
            margin: 0;
        }
        #home-button {
            position: absolute;
            top: 90px;
            left: 10px;
            z-index: 1000; /* Ensure it appears above map controls */
        }
    </style>
</head>
<body>

<div id="home-button">
    <a href="/home">
        <button class="btn btn-dark btn-sm" >Home</button>
    </a>
</div>
<div id="map"></div>

<!-- Include Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Include Leaflet Control Geocoder JavaScript -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<script>
    //     Add Map

    var mymap = L.map('map').setView([41.6086, 21.7453], 8.5); // Centered over Macedonia

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    //     Add Markers

    let mapMarkers = {};
    fetch("http://localhost:8080/api/GetMarkers")
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            mapMarkers = data;

            for (let key in data) {
                const monument = data[key]
                let marker = L.marker([monument.lat, monument.lon], {}).addTo(mymap);
                marker.bindPopup(`<strong>${monument.name}</strong><br>Phone: ${monument.phone}`);
            }})
        .catch(error => {
            console.error("Couldn't get the map markers:", error);
        });
</script>

<script>
    // Check if the function has already been called in the current session
    const hasLocationBeenFetched = sessionStorage.getItem('hasLocationBeenFetched');

    // If not, call the getLocation function
    if (!hasLocationBeenFetched) {
        window.onload = function() {
            getLocation();
        };
    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        // Send the location to your Spring Controller
        window.location.href = `/getLocation?latitude=${latitude}&longitude=${longitude}`;

        // Set a flag in sessionStorage indicating that the location has been fetched
        sessionStorage.setItem('hasLocationBeenFetched', true);
    }
</script>
</body>
</html>
<!--<button onclick="getLocation()">Get Location</button>-->