<!--<div class="container">-->
<!--  <h1 th:if="${hasError}" th:text="${error}"></h1>-->
<!--</div>-->
<div class="container-signup">
  <form class="form-signin" method="post" action="/signup">
    <h1 class="h3 mb-3 font-weight-normal">Please Sign up</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required>
    <label for="inputSurname" class="sr-only">Surname</label>
    <input type="text" id="inputSurname" name="surname" class="form-control" placeholder="Surname" required>
    <label for="inputPasswordSignup" class="sr-only">Password</label>
    <input type="password" id="inputPasswordSignup" name="password" class="form-control" placeholder="Password" required>
    <label for="inputRepeatPassword" class="sr-only">Repeat Password</label>
    <input type="password" id="inputRepeatPassword" name="repeatedPassword" class="form-control" placeholder="Repeat password" required>

    <button class="btn btn-lg btn-primary btn-block btn-login-signup" type="submit">Sign up</button>

    <a href="/login" id="login-link" class="linkLoginSignup">Already registered? Login!</a>

    <div style="color: red">
      <span th:if="${hasError}" th:text="${error}"></span>
    </div>
  </form>
</div>